// My Info
.my-info {
    margin-bottom: 2rem;
    .my-info__name {
      margin-bottom: 2rem;
    }
    .my-info__data {
      display: flex;
      gap: 1rem;
      .my-info__address {
        display: flex;
        flex-direction: column;
      }
    }
  }