.mypage__container {
    width: 95%;
    margin: 0 auto;
}

// My Info
.my-info {
    margin-bottom: 2rem;
    .my-info__name {
      margin-bottom: 2rem;
    }
    .my-info__data {
      display: flex;
      gap: 1rem;
      .my-info__address {
        display: flex;
        flex-direction: column;
      }
    }
  }

  // My Order
  .my-order {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 1rem;
    li {
      list-style-type: none;
    }

    margin-bottom: 2rem;
    gap: 1rem;
    .my-order__order-description {
      width: 100%;

      .my-order__header {
        .my-order__header--top {
          display: flex;
          justify-content: space-between;
          h3 {
            &:first-child {
              color: #346aff;
              width: 30%;
            }
            &:last-child {
              width: 70%;
            }
          }
        }
        .my-order__header--bottom {
          margin-bottom: 1rem;
        }
        display: flex;
        flex-direction: column;
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
      .my-order__order-list {
        .order-list {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 1rem 0;

          .order-list__img {
            width: 70px;
            height: 100px;
            img {
              width: 100%;
              height: 100%;
            }
          }
          .order-list__item-name {
            &:hover {
              text-decoration: underline;
            }
          }
          .order-list__price-info {
            display: flex;
            flex-direction: column;
            text-align: center;
          }
        }
        .order-list:not(:last-child) {
          border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        }
      }
    }
    .order-info {
      .order-info--row {
        display: flex;
      }
      .recipient {
        div h4 {
          // margin-right: 2rem;
          width: 30%;
        }
        span {
          width: 80%;
        }
      }
      div {
        margin-bottom: 0.5rem;
      }
      .order-info--h3 {
        margin-bottom: 0.8rem;
        border-bottom: 2px solid rgba(0, 0, 0, 0.2);
      }
      .order-info__addr {
        display: flex;
        flex-direction: column;
      }
      .receipt {
        width: 60%;
        padding: 0.5rem;
        border-radius: 10px;
        background-color: #f5f5f5;

        .receipt__pay-method,
        .receipt__billing-amount {
          justify-content: space-between;
        }
      }
    }
  }