@import '../../../variables.scss';

.cart_item {
  width: 100%;
  padding: 0 2rem;
  position: relative;
  .cart__img {
    width: 100%;
    max-width: 100px;
    img {
      width: 100%;
    }
  }

  .cart__description {
    .item-name {
      font-size: 1.3rem;
      letter-spacing: 0.1rem;
    }
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.35rem;
    input {
      width: 40px;
      // height: 30px;
      font-size: 1.1rem;
    }

    .info-title {
      width: 40%;
      font-weight: 600;
    }

    .delete-btn {
      width: 80px;
      position: absolute;
      bottom: 0;
      right: 0;
      color: dodgerblue;
      margin: 0.5rem 0;
      justify-self: flex-start;
      &:hover {
        border-bottom: 1px solid dodgerblue;
        cursor: pointer;
      }
    }
    // .rating,
    .item__total,
    .item__quantity,
    .item__price {
      display: flex;
      :first-child {
        width: 30%;
      }
    }
  }
}

@media (min-width: $breakpoint-pc) {
  .cart_item {
    .cart__description {
      .item-name {
        font-size: 1.7rem;
      }
      .item__total,
      .item__quantity,
      .item__price {
        display: flex;
        font-size: 1.2rem;
      }
    }
  }
}
