.form-container {
  .join-btn {
    background-color: whitesmoke;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    color: #346aff;
    font-weight: 600;
    // width: 418px;
    margin: 0 auto;
    width: 95%;
    border: 1px solid #ccc;
    cursor: pointer;
  }
}
