* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

html {
  min-height: 100vh;
}

body {
  height: 100%;
}

.App {
  height: 100%;
  position: relative;
  min-height: 100vh;
  &:after {
    padding-bottom: 18.25%;
    display: block;
    content: "";
  }
  .body-wrapper {
    max-width: 1450px;
    margin: 2rem auto;
    height: 100%;
    display: flex;
    position: relative;
  }
}

// Form Styling //
.form-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  form {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 90%;
    gap: 1rem;
    max-width: 450px;
    padding: 1rem;
  }
}

.font-face-BBTreeB {
  font-family: "BBTreeG_B";
}
.font-face-BBTreeR {
  font-family: "BBTreeG_R";
}
.font-face-BBTreeL {
  font-family: "BBTreeG_L";
}
.font-link-Pacifico {
  font-family: "Pacifico", cursive;
}
.font-link-Roboto {
  font-family: "Roboto", sans-serif;
}
