.login-to-join {
    background-color: whitesmoke;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    color: #346aff;
    font-weight: 600;
    width: 81%;
    max-width: 418px;
    margin: 0 auto;
    border: 1px solid #ccc;
    cursor: pointer;
    //   &:hover {
    //     background-color: #0f5ca8;
    //     transition: 0.5s ease-in-out;
    //   }
  }
  