.comment-container {
  position: relative;
  .comments__top {
    padding: 1rem;
    h2 {
      margin-bottom: 2rem;
    }
  }
  &::before {
    height: 0.5rem;
    display: block;
    margin: 3rem 0;
    content: "";
    background-color: gray;
  }
  .comments {
    padding: 1rem;
    p {
      max-width: 74ch;
      line-height: 1.7rem;
      font-size: 1.1rem;
      margin-top: 1.5rem;
      padding: 1.5rem 24px;
      background-color: #f4f4f4;
    }
    .comment-box {
      li {
        list-style-type: none;
      }
    }
  }
}
