@import "../../variables.scss";

.home {
  .carousel-root {
    width: 80%;
    margin-bottom: 2rem;
    .carousel-slider {
      margin: 0 auto;
    }
  }

  .home-img-container {
    width: 100%;
    display: flex;
    flex-direction: column;

    div {
      margin-bottom: 2rem;
      img {
        width: 100%;
        height: 300px;
      }
    }
  }

  .brand-list {
    display: flex;
    flex-direction: column;
    .brand-list-row {
      width: 70%;
      margin: 1rem auto;
      display: flex;
      gap: 1rem;
      justify-content: space-between;
      // flex-direction: column;
    }
    li {
      width: 100%;
      list-style-type: none;
      img {
        width: 100%;
        cursor: pointer;
        border: 1px solid rgba(0, 0, 0, 0.3);
      }
    }
  }
}

@media (max-width: $breakpoint-pc) {
  .home {
    .carousel-root {
      width: 100%;
      .carousel-slider {
        max-height: 500px;
        height: 20%;
      }
    }

    .brand-list {
      display: flex;
      flex-direction: column;
      .brand-list-row {
        width: unset;
        // margin: 1rem auto;
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        margin: unset;
        margin: 0 auto;
        // flex-direction: column;
        // align-items: stretch;
      }
      li {
        list-style-type: none;

        img {
          cursor: pointer;
          border: 1px solid rgba(0, 0, 0, 0.3);
        }
      }
    }
  }
}
