@import "../../../../variables.scss";

.view-post {
    margin: 0 auto;
    width: 100%;
    max-width: 700px;
    .post {
      width: 95%;
      border-radius: 10px;
      margin: 3rem auto 0 auto;
      padding: 0rem 1rem 1rem 1rem;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
      .view-post__header--col1 {
        width: 49%;
      }
      .view-post__header {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        margin: 0 auto;
        width: 98%;
        max-width: 650px;
        margin-bottom: 1rem;
        padding: 1rem 0rem 1rem 0;
        .view-post__header--title {
          word-wrap: break-word;
          font-size: 1.2rem;
          margin-bottom: 0.5rem;
          line-height: 1.5rem;
        }
        .view-post__header--info {
          display: flex;
          .info-head {
            color: rgba(0, 0, 0, 0.4);
          }
          div {
            .post-owner {
              font-weight: 600;
              color: rgba(0, 0, 0, 0.6);
            }
            margin-right: 2rem;
          }
        }
      }
  
      .view-post__header--btns {
        display: flex;
        button {
          background-color: whitesmoke;
          // font-size: 1rem;
          padding: 0.25rem 0.25rem;
          font-weight: 600;
          border: 1px solid #ccc;
          cursor: pointer;
        }
        .post-delete-btn {
          // margin-right: 2rem;
          &:hover {
            color: red;
            transition: 0.5s ease-in-out;
          }
        }
        .post-edit-btn {
          margin-left: 1rem;
        }
      }
  
      .view-post__body {
        font-size: 1.2rem;
        line-height: 1.5rem;
        padding-bottom: 1rem;
      }
  
      .readonly-toolbar {
        display: none;
      }
    }
  }
  @media (min-width: $breakpoint-tablet) {
    .post {
      .view-post__body {
        .post-body {
          margin-left: 3.5rem;
        }
      }
    }
  }
  