footer {
  position: absolute;
  // position: relative;
  z-index: 15;
  // bottom: -100px;
  // left: 0;
  bottom: -155px;
  // right: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  // background-color: cornsilk;
  background: linear-gradient(to bottom, #002143 -37%, #184478);
}
