.order-form {
    max-width: 450px;
    margin: 0 auto;
    // display: flex;
    .order {
      .order__info {
        display: flex;
      }
    }
    .order-checkout {
      .checkout {
        margin-bottom: 1rem;
      }
    }
  }

//   Info box
.info-box {
    display: flex;
  
    width: 100%;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    .info-box__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 10%;
      border-right: 1px solid rgba(0, 0, 0, 0.2);
      background-color: rgba(245, 245, 245, 1);
      .info-icon {
        color: #cccccc;
      }
    }
    .info-box__col {
      width: 90%;
      height: 100%;
      font-size: 1rem;
      padding: 0.5rem;
    }
    .info-box__col2 {
      width: 20%;
    }
  }
  

  