@import "../../variables.scss";

.carousel-root {
  // width: 90%;
  margin: 0 auto;

  .slider-wrapper {
    .slider {
      div {
        margin: 0 auto;
        img {
          height: 600px;
        }
      }
    }
    .thumb {
      img {
        height: 120px;
      }
    }
  }
}

@media (min-width: $breakpoint-tablet) {
  .carousel-root {
    width: 60%;
  }
}

@media (min-width: $breakpoint-tablet) {
  .carousel-root {
    width: 50%;
  }
}
