@// import "../../variables.scss";

.product-container {
  width: 100%;
  margin: 0 auto;
  .product__display {
    width: 90%;
    margin: 0 auto;
    .detail__img {
      width: 100%;
      max-width: 650px;
      margin-bottom: 1rem;
      img {
        width: 100%;
        max-height: 450px;
      }
    }
    .detail__info {
      h3 {
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        padding: 0.5rem;
        font-size: 1.5rem;
      }
      display: flex;
      flex-direction: column;
    }

    .spec {
      margin: 2rem 0;

      tbody {
        tr {
          font-size: 1.25rem;
          width: 100%;

          th {
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            text-align: left;
            width: 150px;
            padding: 0.8rem 0;
            color: rgba(0, 0, 0, 0.6);
          }
          td {
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
          }
        }
      }
    }
  }
}

@media (min-width: $breakpoint-tablet) {
  .product-container {
    // width: 70%;
    .product__display {
      display: flex;
      justify-content: space-evenly;
      // align-items: flex-end;
      .detail__img {
        width: 10%;
      }
      .detail__info {
        width: 40%;
      }
      // flex-direction: row;
    }
  }
}

@media (min-width: $breakpoint-pc) {
  .product-container {
    width: 65%;
  }
}
