#item-list__table {
  width: 95%;
  margin: 0 auto;
  thead {
    width: 70%;
  }
  tbody {
    th,
    td {
      border: 1px solid #444444;
    }
    tr {
      font-size: 1.2rem;
      text-align: center;
      cursor: pointer;
      &:hover {
        color: tomato;
        transition: 0.5s ease-in-out;
      }
      .item-img {
        height: 100px;
        img {
          height: 100%;
        }
      }
    }
  }
}
